@model int
<h1>Создание команды </h1>
@using (@Html.BeginForm("CreateTeamClick", "Gamer", FormMethod.Post))
{
    @Html.Hidden("gameId",Model)
    <input id="TeamName" name="TeamName" placeholder="Название команды" type="text" />
    <button type="submit">Создать команду</button>
    <font color="red"><p>@ViewBag.Message</p></font>
    <font color="green"><p>@ViewBag.Message2</p></font>
}