@model WebApplication1.GamerViewModels.TeamsModel
<h2>Команды данной игры</h2>
@Html.ActionLink("Создать команду","CreateTeam","Gamer",new {gameID=Model.gameID},FormMethod.Get)
<table width="100%" align="center" border="1">
    <thead>
        <tr>
            <th align="center">Название команды</th>
            <th align="left"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApplication1.Models.Teams team in Model.teams)
        {
            <tr>
                <td align="left">@team.Name</td>
                <td align="left">
                    @using (Html.BeginForm("Team", "Gamer", FormMethod.Get))
                    {
                        @Html.Hidden("TeamID", team.ID)
                        <input class="btn btn-default" type="submit" value="Просмотреть больше" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>