@model WebApplication1.Models.Game
@{
    ViewBag.Title = "GameMake";
}
<h2>Создание игры</h2>
<div class="container">
    @using (Html.BeginForm("AddGameClick", "Admin", FormMethod.Post))
    {
        <input id="GameName" name="GameName" placeholder="Название игры" type="text" autocomplete="on">

        <br />
        <div>Дата проведения</div>
        <input name=StartData data-val="true" data-val-date="Поле StartData должно содержать дату." data-val-required="Требуется поле StartData."
               id="StartData"  placeholder="Дата проведения" type="date" autocomplete="on" value=@DateTime.Now><br />
        <div>Длительность (мин)</div>

        <input id="Lenga" name="Lenga" value="0" placeholder="Длительность" type="number" autocomplete="on">
        <p>
            Время начала
            <input type="time" id="StartTime" name="StartTime" autocomplete="on">
        </p>
        <button type="submit">Создать игру</button>
        <button type="reset" name="action" value="Cancel">Отмена</button>
        <font color="red"><p>@ViewBag.Message</p></font>
        <h1>Выберить задачи</h1>
        <ul>
            @foreach (WebApplication1.Models.Tasks task in WebApplication1.Controllers.HomeController.db.Tasks)
            {
                <li>
                    <div>Текст задачи: @task.Text</div>
                    <br />
                    <div>Ответ:@task.Answer</div>
                    <br />
                    @Html.Hidden("TaskID", task.ID)
                    <input type="checkbox" name="tasks" />
                </li>
            }

            </ul>
    }
</div>

