@model WebApplication3.Models.Game
@{
    ViewBag.Title = "GameMake";
}
<h2>Создание игры</h2>
<div class="container">
    @using (Html.BeginForm("AddGameClick", "Admin", FormMethod.Post))
    {
        <input id="GameName" name="GameName" placeholder="Название игры" type="text" autocomplete="on">

        <br />
        <div>Дата проведения</div>
        <input name=StartData data-val="true" data-val-date="Поле StartData должно содержать дату." data-val-required="Требуется поле StartData."
               id="StartData"  placeholder="Дата проведения" type="date" autocomplete="on" value=@DateTime.Now><br />
        <div>Длительность (мин)</div>

        <input id="Lenga" name="Lenga" value="0" placeholder="Длительность" type="number" autocomplete="on">
        <p>
            Время начала
            <input type="time" id="StartTime" name="StartTime" autocomplete="on">
        </p>
        <button type="submit">Создать игру</button>
        <button type="reset" name="action" value="Cancel">Отмена</button>
    }
    @using (Html.BeginForm("AddTask", "Admin"))
    {
        <button type="submit">Добавить задачу</button>
    }
    <div>Создано задач: @Model.Tasks.Count</div>
    @using (Html.BeginForm("CancelMakeGame", "Admin"))
    {
        <button type="submit" >Удалить задачи</button>
    }
    <font color="red"><p>@ViewBag.Message</p></font>

</div>

