@{
    ViewBag.Title = "Tasks";
}

<h2>Все задачи системы</h2>
<table width="90%" align="center" border="1">
    <thead>
        <tr>
            <th align="center" >Номер задачи</th>
            <th align="left">Текст задачи</th>
            <th align="right">Правильный ответ</th>
            <th align="right"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApplication1.Models.Tasks line in WebApplication1.Controllers.HomeController.db.Tasks)
        {
            <tr>
                <td align="center">@line.ID</td>
                <td align="left">@line.Text</td>
                <td align="left">@line.Answer</td>
                <td align="left">
                    @using (Html.BeginForm("TaskInfo", "Gamer"))
                    {
                        @Html.Hidden("TaskID", line.ID)
                        <input class="btn btn-default" type="submit" value="Просмотреть больше" />
                        <button formaction="/Admin/TaskEdit">Редактировать</button>
                        <button formaction="/Admin/TaskDelete/@line.ID">Удалить</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
