@model WebApplication1.Models.Tasks

@{
    ViewBag.Title = "Task";
}
<h2>Подробная информация о задаче</h2>
<div>Текст задачи:@Model.Text</div>
<br />
<div>Ответ:@Model.Answer</div>
<br />
<div>ID:@Model.ID</div>
@using(Html.BeginForm("UpdateTask","Admin",FormMethod.Get))
{
    @Html.Hidden("taskId",Model.ID)
    <button type="submit">Редактировать</button>
}
<button danger type="submit" onclick="Delete()" >Удалить</button>


<script>
    async function Delete() {
        const response = await fetch("/Admin/DeleteTask/@Model.ID", {
            method: "Delete",
        }
        )
        const resData = await response.json();
        if (resData.status === 200)
            location.href = "/Admin/Tasks";
    }
</script>