@{
    ViewBag.Title = "TaskMake";
}
<h2>TaskMake</h2>
@using (Html.BeginForm("CreateTaskClick", "Admin", FormMethod.Post))
{
    @Html.TextBox("Text", null, new { @placeholder = "Текст" })
    @Html.TextBox("Answer", null, new { @placeholder = "Ответ" })
    <font color="red"><p>@ViewBag.Message</p></font>
    <font color="green"><p>@ViewBag.Message2</p></font>
    <input class="btn btn-default" type="submit" value="Добавить задачу в создаваемую игру" />
}
@using (Html.BeginForm("Cancelmaketask", "Admin"))
{
    <button class="btn btn-default" type="submit">Отмена</button>
}