@model WebApplication1.Models.Tasks
@{
    ViewBag.Title = "UpdateTask";
}
<h2>Редактирование задачи</h2>

@Html.TextBox("Text", null, new { @placeholder = "Текст" })
@Html.TextBox("Answer", null, new { @placeholder = "Ответ" })
<font color="red"><p>@ViewBag.Message</p></font>
<font color="green"><p>@ViewBag.Message1</p></font>
<input class="btn btn-default" type="submit" onclick="Put()" value="Подтвердить" />
<script>
    async function Put() {
        const response =  $.ajax({
            url: "/Admin/UpdateTaskClick/@Model.ID",
            type: "PUT",
            datatype: "html",
            data: { Text: document.getElementById("Text").value,
            Answer: document.getElementById("Answer").value },
        }
        )
        console.log(response);
    }
</script>