@model WebApplication1.Models.GameViewModel
@{
    ViewBag.Title = "UpdateGame";
}
<h2>Редактирование игры</h2>
<div class="container">

        <input id="GameName" name="GameName" placeholder="Название игры" type="text" autocomplete="on">

        <br />
        <div>Дата проведения</div>
        <input name=StartData data-val="true" data-val-date="Поле StartData должно содержать дату." data-val-required="Требуется поле StartData."
               id="StartData" placeholder="Дата проведения" type="date" autocomplete="on" value=@DateTime.Now>

        <br />
        <div>Длительность (мин)</div>

        <input id="Lenga" name="Lenga" value="0" placeholder="Длительность" type="number" autocomplete="on">
        <p>
            Время начала
            <input type="time" id="StartTime" name="StartTime" autocomplete="on">
        </p>
        <button type="submit" onclick="Put()">Отредактировать</button>
        <font color="red"><p>@ViewBag.Message</p></font>
        
    <p>

        <div>
            @if (Model.tasks.Count() > 0)
            {
                <ul>
                    @foreach (WebApplication1.Models.Tasks task in Model.tasks)
                    {
                    <li>
                        <div>Текст задачи: @task.Text</div>
                        <br />
                        <div>Ответ:@task.Answer</div>
                        <br />
                            @if (Model.game.Tasks.Contains(task))
                            {
                                <input type="checkbox" id="tasks" name="tasks" value="@task.ID" checked="checked">
                            }
                            else
                            {
                                <input type="checkbox" id="tasks" name="tasks" value="@task.ID" >
                            }
                            Выбрать
                            </li >
                    }

                </ul>
            }
            else
            {
                <p>Задач в системе нет</p>
            }
        </div>
    </p>
</div>

<script>
    async function Put() {
        const response = $.ajax({
            url: "/Admin/UpdateGameClick",
            type: "PUT",
            datatype: "html",
            data: {
                GameName: document.getElementById("GameName").value,
                StartData: document.getElementById("StartData").value,
                Lenga: document.getElementById("Lenga").value,
                StartTime: document.getElementById("StartTime").value
            },
        }
        )
        console.log(response);
    }
</script>