@{
    ViewBag.Title = "Login";
}
<h1>Вход</h1>
<div class="container">
    @using (Html.BeginForm("LoginClick", "Home",FormMethod.Post))
    {
        <input id="Login" name="Login" placeholder="Логин" type="text" >

        <br />
        <input id="Password" name="Password" placeholder="Пароль" type="password" >
        <font color="red"><p>@ViewBag.Message</p></font>
        <input type="submit" style="text-align:center;" value="Вход">
    }
</div>