
@{
    ViewBag.Title = "Main";
}
<h2>Главная</h2>
<table class="bc-table bc-table-web" width="60%" align="center" border="1">
    <thead>
        <tr>
            <th align="center" >Название игры</th>
            <th align="left" style="width: 75px;">Дата начала</th>
            <th align="right" style="width: 50px;">Время начала</th>
            <th align="right" style="width: 50px;">Длительность(мин)</th>
            @if (WebApplication1.Controllers.HomeController.UserIsPlayer(User))
            {
                <th align="right" style="width: 30px;"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (WebApplication1.Models.Game line in WebApplication1.Controllers.HomeController.db.Games)
        {
        <tr>
            <td align="left">@line.GameName</td>
            <td align="center">@line.StartData</td>
            <td align="left">@line.Lenga</td>
                @if (WebApplication1.Controllers.HomeController.UserIsPlayer(User))
            {
                using (Html.BeginForm("Play", "Gamer"))
                {
                    <td align="right">
                        @Html.Hidden("GameID", line.ID)
                        <input class="btn btn-default" type="submit" value="Играть" />
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>

