@{
    ViewBag.Title = "Register";
}
<h1>Регистрация</h1>
<div class="container">
    @using (Html.BeginForm("RegisterClick", "Home", FormMethod.Post))
    {
        <input id="Login" name="Login" placeholder="Логин" type="text">
        <br />
        <input id="Password" name="Password" placeholder="Пароль" type="password">
        <br />
        <input id="Name" name="Name" placeholder="Имя" type="text">
        <br />
        <input id="Surname" name="Surname" placeholder="Фамилия" type="text">
        <br />
        <input id="FatName" name="FatName" placeholder="Отчество" type="text">
        <br />
        <select id="Role" name="Role" class="combo">
            <option value="Администратор">Администратор</option>
            <option value="Игрок">Игрок</option>
        </select>
        <select id="Class" name="Class" class="combo">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="not class">not class</option>
        </select>
        <font color="red"><p>@ViewBag.Message</p></font>
        <input type="submit" style="text-align:center;" value="Вход">
    }
</div>